input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Ocultar flechas en los campos de entrada de tipo número para Firefox */
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button {
    -moz-appearance: none;
    margin: 0;
}

/* Ocultar flechas en los campos de entrada de tipo número para Opera y Microsoft Edge */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Ocultar flechas en los campos de entrada de tipo número para Microsoft Edge (Chromium) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-ms-clear {
    -webkit-appearance: none;
    margin: 0;
}